{% extends "_layouts/page" %}

{% block title %}
{{ entry.title }}
{% endblock %}

{% block pageHeader %}
<h1 class="t-page__title">{{ entry.pageTitle }}</h1>
{% if entry.pageDescription %}
<p class="t-page__subtitle">{{ entry.pageDescription }}</p>
{% endif %}
{% endblock %}

{% block pageContent %}
{% for field in entry.contentBlock %}
{% switch field.type %}
  {% case "image" %}
  <figure class="a-image t-page__image">
    <picture>
    <img src={{ field.source.one().getUrl() }} alt={{ field.caption }}>
    </picture>
    {% if field.caption %}
      <figcaption>{{ field.caption }}</figcaption>
    {% endif %}
  </figure>
  {% case "text" %}
  <div class="t-page__rte">
    {{ field.richText }}
  </div>
{% endswitch %}
{% endfor %}
{% endblock %}

{% block sketch %}
<div class="a-sketch a-sketch--soundwave">
  {% include '_illustrations/soundwave' %}
</div>
{% endblock %}