{% extends "_layouts/page" %}

{% block pageHeader %}
<h1>{{ entry.pageTitle }}</h1>
{% if entry.pageDescription %}
<p class="t-page__subtitle">{{ entry.pageDescription }}</p>
{% endif %}
{% endblock %}

{% block pageContent %}
{% for field in entry.contentBlock %}
{% switch field.type %}
  {% case "image" %}
  <figure class="image">
    <picture class="image">
    <img src={{ field.source.one().getUrl() }} alt={{ field.caption }}>
    </picture>
    {% if entry.caption %}
      <figcaption>{{ field.caption }}</figcaption>
    {% endif %}
  </figure>
  {% case "text" %}
  <div class="t-page__rte">
    {{ field.richText }}
  </div>
{% endswitch %}
{% endfor %}
{% endblock %}