{% extends "_layouts/page" %}

{% block title %}
{{ entry.title }}
{% endblock %}

{% block pageHeader %}
<h1 class="t-page__title">{{ entry.pageTitle }}</h1>
{% if entry.pageDescription %}
<p class="t-page__subtitle">{{ entry.pageDescription }}</p>
{% endif %}
{% endblock %}

{% block pageContent %}
<div class="t-masonry">
  {% for item in craft.entries.section('audiobook').limit(12).all() %}
    <div class="m-card t-masonry__item">
        <picture>
          <img src={{ item.coverImage.one().getUrl() }} alt="{{ item.artist }} - {{ item.title }}">
        </picture>
        <span class="m-card__title">{{ item.title }}</span>
        <span class="m-card__artist">{{ item.artist }} </span>
    </div>
    {% if loop.index == 1 or loop.index == 6 or loop.index == 11 %}
      <div class="t-masonry__item">
        {% include '_illustrations/waves' %}
      </div>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}

{% block sketch %}
<div class="a-sketch a-sketch--plane-waves-horbuch">
  {% include '_illustrations/plane-waves' %}
</div>

{% endblock %}