{% extends "_layouts/main" %}

{% block title %}
Die Kulturfirma
{% endblock %}

{% block main %}
<section class="t-section">
  <div class="m-ticker">
    {% for entry in craft.entries.section('laufschriftHome').all() %}
       <span class="m-ticker__item">
       {% if entry.relatedEntry | length %} <a href={{entry.relatedEntry.one().url }}> {% endif %}
        {{entry.title}}
       {% if entry.relatedEntry | length %} </a> {% endif %}
      </span>
    {% endfor %}
  </div>
</section>
<section class="t-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p class="t-page__subtitle">{{ entry.pageDescription }}</p>
      </div>
    </div>
  </div>
</section>
<section class="t-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="t-page__title">{{ entry.pageTitle }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9 align-self-end t-masonry">
        {% set tag =  craft.tags().title('*highlights*').one() %}
        {% for entry in craft.entries.relatedTo(tag).limit(12).all() %}
          <div class="m-card t-masonry__item">
            <a href={{ entry.url }}>
              <picture>
                <img src={{ entry.coverImage.one().getUrl() }} alt="{{ entry.artist }} - {{ entry.title }}">
              </picture>
              <span class="m-card__title">{{ entry.title }}</span>
              <span class="m-card__artist">{{ entry.artist }} </span>
            </a>
          </div>
          {% if loop.index == 1 or loop.index == 6 or loop.index == 11 %}
            <div class="t-masonry__item">
              {% include '_illustrations/waves' %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}