{% extends "_layouts/main" %}

{% block title %}
Die Kulturfirma
{% endblock %}

{% block main %}
<section class="t-section m-ticker-wrapper">
  {% set length = craft.entries.section('laufschriftHome') | length %}
  <div class="m-ticker">
    <div>
      {% set counter = 0 %} 
      {% for entry in craft.entries.section('laufschriftHome').all() %}
      {% if counter < (length / 2) %}
       <span class="m-ticker__item">
       {% if entry.relatedEntry | length %} <a href={{entry.relatedEntry.one().url }}> {% endif %}
        {{entry.title}}
       {% if entry.relatedEntry | length %} </a> {% endif %}
      </span>
      {% endif %}
      {% set counter = counter + 1 %}
    {% endfor %}
    </div>
      <div>
      {% set counterB = 0 %} 
      {% for entry in craft.entries.section('laufschriftHome').all() %}
      {% if counterB < (length / 2) %}
       <span class="m-ticker__item">
       {% if entry.relatedEntry | length %} <a href={{entry.relatedEntry.one().url }}> {% endif %}
        {{entry.title}}
       {% if entry.relatedEntry | length %} </a> {% endif %}
      </span>
      {% endif %}
      {% set counterB = counterB + 1 %}
    {% endfor %}
    </div>
  </div>
  <div class="m-ticker m-ticker--reverse">
    <div>
      {% set counter2 = 0 %}
      {% for entry in craft.entries.section('laufschriftHome').all() %}
        {% if counter2 >= (length / 2) %}
        <span class="m-ticker__item">
        {% if entry.relatedEntry | length %} <a href={{entry.relatedEntry.one().url }}> {% endif %}
          {{entry.title}}
        {% if entry.relatedEntry | length %} </a> {% endif %}
        </span>
        {% endif %}
        {% set counter2 = counter2 + 1 %}
      {% endfor %}
    </div>
    <div>
      {% set counter2B = 0 %}
      {% for entry in craft.entries.section('laufschriftHome').all() %}
        {% if counter2B >= (length / 2) %}
        <span class="m-ticker__item">
        {% if entry.relatedEntry | length %} <a href={{entry.relatedEntry.one().url }}> {% endif %}
          {{entry.title}}
        {% if entry.relatedEntry | length %} </a> {% endif %}
        </span>
        {% endif %}
        {% set counter2B = counter2B + 1 %}
      {% endfor %}
    </div>
  </div>
</section>
<section class="t-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p class="t-page__subtitle">{{ entry.pageDescription }}</p>
      </div>
    </div>
  </div>
</section>
<div class="a-sketch a-sketch--circles-home">
  {% include '_illustrations/circles' %}
</div>
<section class="t-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="t-page__title"><span>{% include '_illustrations/bars' %}</span>{{ entry.pageTitle }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9 align-self-end t-masonry">
        {% set tag =  craft.tags().title('*highlights*').one() %}
        {% for entry in craft.entries.relatedTo(tag).limit(12).all() %}
          <div class="m-card t-masonry__item">
            <a href={{ entry.url }}>
              <picture>
                <img src={{ entry.coverImage.one().getUrl() }} alt="{{ entry.artist }} - {{ entry.title }}">
              </picture>
              <span class="m-card__title">{{ entry.title }}</span>
              <span class="m-card__artist">{{ entry.artist }} </span>
            </a>
          </div>
          {% if loop.index == 1 or loop.index == 6 or loop.index == 11 %}
            <div class="t-masonry__item">
              {% include '_illustrations/waves' %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<div class="a-sketch a-sketch--tunnel">
  {% include '_illustrations/tunnel' %}
</div>
{% endblock %}