{% extends "_layouts/page" %}

{% block pageHeader %}
  <h1><a href="/horbuch" class="icon-left-arrow t-page__back"></a>{{ entry.pageTitle }}</h1>
  {% if entry.pageDescription %}
    <p class="t-page__subtitle">{{ entry.pageDescription }}</p>
  {% endif %}
{% endblock %}

{% block pageContent %}
  {% for sample in craft.entries.section('liveRecordings').all()  %}
    <div class="m-album" id="{{ sample.slug }}">
      <div class="m-album__info">
        {% if sample.info %}
          <ul>
          {% for row in sample.info %}
            <li>{{ row.infoData }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="m-album__cover">
        <picture>
          <img src={{ sample.coverImage.one().getUrl() }} alt="{{ sample.artist }} - {{ sample.title }}">
        </picture>
      </div>
      <div class="m-album__description">
        {% if sample.audioSample | length %}
          <div class="m-album__sample">
            <button class="btn btn-play"><span class="icon-play"></span><span>Abspielen</span></button>
          </div>
        {% endif %}
        <p>{{ sample.description }}</p>
        {% if sample.narrator %}
          <p><strong>Esrzaler:</strong> {{sample.narrator}}</p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endblock %}