{% extends "_layouts/main" %}

{% block title %}
{{ entry.title }}
{% endblock %}

{% block main %}
<section class="t-section">
  {% set length = craft.entries.section('laufschriftTonproduktion') | length %}
  <div class="m-ticker">
    <div>
      {% set counter = 0 %} 
      {% for entry in craft.entries.section('laufschriftTonproduktion').all() %}
      {% if counter < (length / 2) %}
       <span class="m-ticker__item">
       {% if entry.relatedEntry | length %} <a href={{entry.relatedEntry.one().url }}> {% endif %}
        {{entry.title}}
       {% if entry.relatedEntry | length %} </a> {% endif %}
      </span>
      {% endif %}
      {% set counter = counter + 1 %}
    {% endfor %}
    </div>
      <div>
      {% set counterB = 0 %} 
      {% for entry in craft.entries.section('laufschriftTonproduktion').all() %}
      {% if counterB < (length / 2) %}
       <span class="m-ticker__item">
       {% if entry.relatedEntry | length %} <a href={{entry.relatedEntry.one().url }}> {% endif %}
        {{entry.title}}
       {% if entry.relatedEntry | length %} </a> {% endif %}
      </span>
      {% endif %}
      {% set counterB = counterB + 1 %}
    {% endfor %}
    </div>
  </div>
  <div class="m-ticker m-ticker--reverse">
    <div>
      {% set counter2 = 0 %}
      {% for entry in craft.entries.section('laufschriftTonproduktion').all() %}
        {% if counter2 >= (length / 2) %}
        <span class="m-ticker__item">
        {% if entry.relatedEntry | length %} <a href={{entry.relatedEntry.one().url }}> {% endif %}
          {{entry.title}}
        {% if entry.relatedEntry | length %} </a> {% endif %}
        </span>
        {% endif %}
        {% set counter2 = counter2 + 1 %}
      {% endfor %}
    </div>
    <div>
      {% set counter2B = 0 %}
      {% for entry in craft.entries.section('laufschriftTonproduktion').all() %}
        {% if counter2B >= (length / 2) %}
        <span class="m-ticker__item">
        {% if entry.relatedEntry | length %} <a href={{entry.relatedEntry.one().url }}> {% endif %}
          {{entry.title}}
        {% if entry.relatedEntry | length %} </a> {% endif %}
        </span>
        {% endif %}
        {% set counter2B = counter2B + 1 %}
      {% endfor %}
    </div>
  </div>
</section>
<section class="t-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 t-page--content-header">
        {% for field in entry.contentBlock %}
        {% switch field.type %}
          {% case "image" %}
          <figure class="t-page__image">
            <picture>
              <img src={{ field.source.one().getUrl() }} alt={{ field.caption }}>
            </picture>
            {% if entry.caption %}
              <figcaption>{{ field.caption }}</figcaption>
            {% endif %}
          </figure>
          {% case "text" %}
          <div class="t-page__content">
            {{ field.richText }}
          </div>
        {% endswitch %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<div class="a-sketch a-sketch--circles-tonprod">
  {% include '_illustrations/tunnel' %}
</div>
<section class="t-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 id="formats" class="t-page__title"><span>{% include '_illustrations/bars' %}</span>{{ entry.pageTitle }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9">
      {# {% set query = craft.entries.section('formats').limit(6) %}
      {% paginate query as pageInfo, pageEntries %} #}
      {% for sample in craft.entries.section('formats').all()  %}
        <div class="m-album" id="{{ sample.slug }}">
          <div class="m-album__info">
            {% if sample.info %}
              <ul>
              {% for row in sample.info %}
                <li>{{ row.infoData }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>
          <div class="m-album__cover">
            <picture>
              <img src={{ sample.coverImage.one().getUrl() }} alt="{{ sample.title }}">
            </picture>
          </div>
          <div class="m-album__description">
            <p class="m-album__format">{{ sample.format.one() }}</p>
            <h3>{{ sample.title }}</h3>
            <p>{{ sample.description }}</p>
            {% if sample.narrator %}
              <p>{{sample.narrator}}</p>
            {% endif %}
              {% if sample.audioSample | length %}
              <div class="m-album__sample">
                <button class="btn btn-play"><span class="icon icon-play"></span><span class="word">Play</span></button>
                <canvas></canvas>
                <audio>
                  <source src={{sample.audioSample.one().getUrl()}}></source>
                </audio>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
        {# <div class="t-page__pagination">
          {% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}" rel="prev">Vorherige Seite</a>{% endif %}
          {% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}" rel="next">Nächste Seite</a>{% endif %}
        </div> #}
      </div>
    </div>
  </div>
</section>
<div class="a-sketch a-sketch--dobbler">
  {% include '_illustrations/dobbler' %}
</div>
{% endblock %}